body {
    margin: o;
    padding: 0;
}

.navbar-light {
    .container-fluid {
        .navbar-brand {
            padding-left: 20px;
        }
    }
}

.section1 {
    background: #7fb5ff;
    .myphoto {
        width: 286px;
        margin: 30px 50px 0 45px;
    }
}

.section2 {
    background: #7fb5ff;
    .container2 {
        background: white;
        margin: 0 50px 0 45px;
        padding: 15px 20px 10px 20px;
    }
}

.section3 {
    background: #7fb5ff;
    padding: 0 0 50px 0;
    .container3 {
        background: #001d6e;
        margin-right: 50px;
        margin-left: 45px;
        padding: 20px 0 10px 45px;
    }
    .lfti {
        background: white;
        margin: 5px;
        border-radius: 30px;
    }
}

.section4 {
    background: #f7f5f2;
    .container4 {
        padding: 72px;
        .hello {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.section5 {
    background: white;
    .container5 {
        text-align: center;
        margin: 50px 0 0 0;
        padding: 30px;
    }
}

.section6 {
    background: white;
    .container6 {
        margin: 80px;
    }
}

.section7 {
    .container7 {
        margin: 15px 0 0 80px;
        padding: 30px 0 30px 0;
        
    }
}

.section8{
    background: #001d6e;
    .container8 {
        color: white;
        text-align: center;
        padding: 15px 0 25px 0;
    }
}

.section10 {
    background: #7fb5ff;
    padding: 20px 0 30px 0;
    .container10 {
        color: white;
        background: #001d6e;
        margin: 30px 20px 40px 20px;
        text-align: center;
        padding: 20px 0 30px 0;
    }
}

.section11 {
    text-align: center;
    padding: 20px 35px 30px 35px;
    .h11 {
        color: #001d6e;
    }
}

.section12 {
    background: #f7f5f2;
    .container12 {
        text-align: center;
        margin: 50px 0 0 0;
        padding: 30px;
        .con12 {
            color: #001d6e;
        }
    }
}

.section13 {
    background: #f7f5f2; 
    .container13 {
        margin: 40px 10px 30px 60px;
     
    }
}

.section15 {
    background: #f7f5f2;  
    .container15 {
        margin: 60px 40px 30px 60px;
        .n15 {
            color: #001d6e;
            .p15 {
                color: #7fb5ff;
            }
        }

    }
}

.section17 {
    .container17 {
        color: white;
        margin: 70px 20px 5px 15px;
        text-align: center;
        font-size: larger;
    }
}
